<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
    <div class="form-group mb-2">
        <input 
        type="text" class="form-control mr-2" 
        placeholder="Buscar..."    
        [(ngModel)]="filtroLista" name="filtro">
    </div>
</form>

<table class="table table stripped">
    <thead class="thead-dark">
        <tr>
            <th><button class="btn btn-outline-light btn-sm"
                 (click)="alterarImagem()">
                 {{!exibirImagem ? 'Exibir' : 'Ocultar'}}
            </button></th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd. Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td><img [isAnimated]="true" [collapse]="!exibirImagem" src="/assets/img/{{evento.imagemURL}}"
                [style.width.px]="widthImg"
                [style.margin.px]="marginImg" 
                ></td>
            <td>{{evento.id}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.data}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <button type="button" class="btn btn-primary btn-sm">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                </div>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">Nenhum registro encontrado!</td>
        </tr>
    </tfoot>
</table>